body{
    background: #233d25;
    display: flex;
    flex-direction: column;

}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.principal{
    border: thin solid #c9bc11;
    border-radius: 3px;
}
